@using static UserAuth.Repository.helpers.Enums


@model List<UserAuth.Repository.Models.User>

<div class="container overflow-auto">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">User Details</h2>
            <table class="table table-striped text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserId</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Age</td>
                            <td>@((UserRole)user.Role)</td>
                            <td>
                                <a class="btn btn-primary edit-user-btn" data-user-id="@user.UserId">Edit</a>
                                @if (user.Role != (int)UserRole.Admin)
                                {
                                    <a class="btn btn-danger delete-user-btn" data-user-id="@user.UserId">Delete</a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>